* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    box-sizing: border-box;
    height: 100vh
}

.tab-1 {
    background-color: #ff0000; 
}

.tab-1,
.tab-2,
.tab-3 {
    width: 150px;
    height: 50px;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease; /*Smooth transition*/
}

.tab-1:active,
.tab-2:active,
.tab-3:active {
    transform: translateY(4px); /*Button press effect*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /*Reduce shadowto simulate pressing*/
    background-color: #572a2a; /*Darker background on active state*/
}

.container {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px; /*Space between items*/
    padding: 20px; /*Padding around the container*/
    justify-content: flex-start; /*Center items horizontally*/
    align-items: center; /*Center vertically*/
    border: 5px solid red;
    margin: 10px;        
}

.title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px; /*Space below title*/
    border: 1px solid blue;
}

.tabs {
    display: flex;
    gap: 25px; /*Space between tabs*/  
    border: 2px solid brown;   
}

#content{
   /* width: 80%;*/
    /*height: 300px;*/
    margin-top: 10px; /*Space above content area*/
   /*border: 2px solid green;*/
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.home-text {    
   color: blue;
   font-size: 24px;
   text-align: center;
   margin: 20px;      
}

.footer {
    position: sticky;
    bottom: 0;    
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
    border: 1px solid black;
}